body{
    color:#2F2F2F;
    background-color: #EDFEFF;
    font-family: 'Raleway';
}

a{
    color: inherit;
    text-decoration: inherit;
}

.heading{
    position: absolute;
    width: 546px;
    height: 74px;
    left: 120px;
    top: 102px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 47px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header{
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;

    background: #EDFEFF;
    border-bottom: 1px solid #83F8FF;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.17);
    transition: all 0.7s;
}

.header__name,.name{
    position: absolute;
    width: 156px;
    height: 42px;
    left: 121px;
    top: 25px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.header__menu{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.header__menu__1{
    position: absolute;
    width: 94px;
    height: 38px;
    left: 570px;
    top: 16px;
    transition: color 0.3s, text-shadow 0.3s;
}

.header__menu__2{
    position: absolute;
    width: 94px;
    height: 38px;
    left: 676px;
    top: 16px;
    transition: color 0.3s, text-shadow 0.3s;
}

.header__menu__3{
    position: absolute;
    width: 94px;
    height: 38px;
    left: 770px;
    top: 16px;
    transition: color 0.3s, text-shadow 0.3s;
}

.header__menu__4{
    position: absolute;
    width: 110px;
    height: 38px;
    left: 864px;
    top: 16px;
    transition: color 0.3s, text-shadow 0.3s;
}

.header__menu__1:hover,.header__menu__2:hover,.header__menu__3:hover,.header__menu__4:hover{
    color: white;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.65);
}

.up{
    position: fixed;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 800px;
    z-index: 1;
}

.button{
    box-sizing: border-box;

    position: absolute;
    width: 187px;
    height: 50px;
    left: 120px;
    top: 190px;

    border: 1px solid rgba(94, 0, 128, 0.39);
    border-radius: 50px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;

    transition: background-color 0.7s, transform 0.5s;
}

.button:hover{
    color: white;
    background-color: #5E0080;
    transform: scale(105%);
}

.about_me{
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 207px;
    left: 0px;
    top: 269px;

    border-width: 1px 0px;
    border-style: solid;
    border-color: #83F8FF;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.17);
    transition: all 0.7s;
}

.header:hover,.about_me:hover,.skills:hover,.my_works:hover{
    background-color: #DBFDFF;
    box-shadow: 7px 7px 8px 1px rgba(0, 0, 0, 0.17);
}

.about_me__title{
    position: absolute;
    left: 120px;
    top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.about_me__icon{
    box-sizing: border-box;

    position: absolute;
    width: 93px;
    height: 93px;
    left: 131px;
    top: 60px;

    border: 1px solid rgba(94, 0, 128, 0.39);
    border-radius: 50px;
}

.about_me__1{
    position: absolute;
    width: 385px;
    height: 131px;
    left: 265px;
    top: 55px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.about_me__2{
    position: absolute;
    width: 260px;
    height: 126px;
    left: 700px;
    top: 55px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.skills{
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 238px;
    left: 0px;
    top: 550px;

    border-width: 1px 0px;
    border-style: solid;
    border-color: #83F8FF;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.17);
    transition: all 0.7s;
}

.skills__title{
    position: absolute;
    width: 260px;
    height: 50px;
    left: 120px;
    top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.skills__list,.my_works__portfolio__skills,.my_works__tasktreker__skills,.my_works__panther__skills{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.skills__list__html,.my_works__portfolio__skills__html,.my_works__panther__skills__html{
    position: absolute;
    width: 145px;
    height: 46px;
    left: 194px;
    top: 100px;
    background: #DCFDFF;
    border: 1px solid rgba(94, 0, 128, 0.39);
    border-radius: 50px;
}

.skills__list__css,.my_works__portfolio__skills__css,.my_works__panther__skills__css{
    position: absolute;
    width: 145px;
    height: 46px;
    left: 382px;
    top: 100px;
    background: #DCFDFF;
    border: 1px solid rgba(94, 0, 128, 0.39);
    border-radius: 50px;
}

.skills__list__cpp{
    position: absolute;
    width: 145px;
    height: 46px;
    left: 556px;
    top: 100px;
    background: #DCFDFF;
    border: 1px solid rgba(94, 0, 128, 0.39);
    border-radius: 50px;
}

.skills__list__ptn{
    position: absolute;
    width: 145px;
    height: 46px;
    left: 740px;
    top: 100px;
    background: #DCFDFF;
    border: 1px solid rgba(94, 0, 128, 0.39);
    border-radius: 50px;
}

.skills__list__js{
    position: absolute;
    width: 145px;
    height: 46px;
    left: 284px;
    top: 164px;
    background: #DCFDFF;
    border: 1px solid rgba(94, 0, 128, 0.39);
    border-radius: 50px;
}

.skills__list__psh,.my_works__tasktreker__skills__psh{
    position: absolute;
    width: 145px;
    height: 46px;
    left: 472px;
    top: 164px;
    background: #DCFDFF;
    border: 1px solid rgba(94, 0, 128, 0.39);
    border-radius: 50px;
}

.skills__list__figma,.my_works__portfolio__skills__figma,.my_works__tasktreker__skills__figma,.my_works__panther__skills__figma{
    position: absolute;
    width: 145px;
    height: 46px;
    left: 650px;
    top: 164px;
    background: #DCFDFF;
    border: 1px solid rgba(94, 0, 128, 0.39);
    border-radius: 50px;
}

.phrase,.phrase_1{
    position: absolute;
    width: 384px;
    height: 44px;
    left: 380px;
    top: 811px;

    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.my_works{
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 628px;
    left: 0px;
    top: 862px;

    border-width: 1px 0px;
    border-style: solid;
    border-color: #83F8FF;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.17);
    transition: all 0.7s;
}

.my_works__title{
    position: absolute;
    width: 187px;
    height: 51px;
    left: 120px;
    top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.portfolio,.tasktreker,.panther{
    box-sizing: border-box;

    position: absolute;
    width: 241px;
    height: 144px;
    left: 141px;
    top: 90px;

    border: 1px solid rgba(94, 0, 128, 0.39);

    transition: all 0.5s;
}

.portfolio:hover,.tasktreker:hover,.panther:hover{
    filter: blur(1.5px);
    transform: scale(104%);
}

.my_works__portfolio__title,.my_works__tasktreker__title,.my_works__panther__title{
    position: absolute;
    width: 265px;
    height: 36px;
    left: 404px;
    top: 90px;

    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;

    transition: all 0.5s;
}

.my_works__portfolio__title:hover,.my_works__tasktreker__title:hover,.my_works__panther__title:hover{
    text-decoration-line: underline;
    color: #6C6C6C;
    transform: scale(97%);
}

.my_works__portfolio__skills__figma{
    position: absolute;
    left: 404px;
    top: 140px;
}

.my_works__portfolio__skills__html{
    position: absolute;
    left: 562px;
    top: 140px;
}

.my_works__portfolio__skills__css{
    position: absolute;
    left: 720px;
    top: 140px;
}

.tasktreker{
    position: absolute;
    top: 266px;
}

.my_works__tasktreker__title{
    position: absolute;
    width: 556px;
    height: 70px;
    top: 266px;
}

.my_works__tasktreker__skills__figma{
    position: absolute;
    left: 404px;
    top: 347px;
}

.my_works__tasktreker__skills__psh{
    position: absolute;
    left: 562px;
    top: 347px;
}

.panther{
    position: absolute;
    top: 442px;
}

.my_works__panther__title{
    position: absolute;
    width: 556px;
    height: 70px;
    top: 442px;
}

.my_works__panther__skills__figma{
    position: absolute;
    left: 404px;
    top: 523px;
}

.my_works__panther__skills__html{
    position: absolute;
    left: 562px;
    top: 523px;
}

.my_works__panther__skills__css{
    position: absolute;
    left: 720px;
    top: 523px;
}

.contacts__title{
    position: absolute;
    width: 436px;
    height: 76px;
    left: 338px;
    top: 1530px;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.contacts__telephone{
    position: absolute;
    width: 196px;
    height: 52px;
    left: 257px;
    top: 1626px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
}

.phone{
    position: absolute;
    width: 30px;
    height: 32px;
    left: 445px;
    top: 1622px;

    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.contacts__mail{
    position: absolute;
    width: 249px;
    height: 52px;
    left: 557px;
    top: 1624px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
}

.mail{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 790px;
    top: 1613px;
}

.contacts__tg,.contacts__vk{
    box-sizing: border-box;

    position: absolute;
    width: 208px;
    height: 65px;
    left: 244px;
    top: 1695px;

    border: 1px solid rgba(94, 0, 128, 0.39);
    border-radius: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 65px;
    text-align: left;
    padding-left: 25px;
    transition: background-color 0.7s, color 0.5s;
}

.contacts__tg:hover,.contacts__vk:hover{
    color: white;
    background-color: #5E0080;
}

.tg{
    position: absolute;
    width: 49px;
    height: 49px;
    left: 390px;
    top: 1704px;
}

.contacts__vk{
    position: absolute;
    left: 556px;
    top: 1695px;
}

.vk{
    position: absolute;
    width: 43px;
    height: 43px;
    left: 709px;
    top: 1707px;
}

.name{
    position: absolute;
    left: 828px;
    top: 1763px;
}

.line{
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 1792px;

    border: 1px solid #83F8FF;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.27);
}

.copyright{
    position: absolute;
    width: 362px;
    height: 31px;
    left: 120px;
    top: 1808px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    color: #8E8E8E;
}

.phrase_1{
    position: absolute;
    left: 380px;
    top: 1859px;
}

@media (max-width: 1000px){
    .about_me,.skills,.header,.my_works{
        width: 500px;
    }
    .about_me__title,.skills__title,.header__name,.my_works__title{
        font-size: 16px;
        width: auto;
        left: 60px;
    }
    .about_me__icon{
        left: 65px;
        width: 46px;
        height: 46px;
    }
    .about_me__1{
        font-size: 8px;
        width: 192px;
        left: 132px;
    }
    .about_me__2{
        font-size: 8px;
        width: 130px;
        left: 350px;
    }
    .header__menu{
        font-size: 12px;
    }
    .header__menu__1{
        left: 285px;
    }
    .header__menu__2{
        left: 338px;
    }
    .header__menu__3{
        left: 385px;
    }
    .header__menu__4{
        left: 432px;
    }
    .skills__list__html,.skills__list__css,.skills__list__cpp,.skills__list__ptn,.skills__list__js,.skills__list__psh,.skills__list__figma,.my_works__portfolio__skills__figma,.my_works__portfolio__skills__html,.my_works__portfolio__skills__css,.my_works__tasktreker__skills__figma,.my_works__tasktreker__skills__psh,.my_works__panther__skills__figma,.my_works__panther__skills__html,.my_works__panther__skills__css{
        width: 77px;
        height: 28px;
        font-size: 12px;
        line-height: 25px;
    }
    .skills__list__html{
        left: 97px;
    }
    .skills__list__css{
        left: 191px;
    }
    .skills__list__cpp{
        left: 278px;
    }
    .skills__list__ptn{
        left: 370px;
    }
    .skills__list__js{
        left: 142px;
    }
    .skills__list__psh{
        left: 236px;
    }
    .skills__list__figma{
        left: 325px;
    }
    .heading{
        font-size: 16px;
        left: 60px;
    }
    .button{
        width: 120px;
        height: 32px;
        left: 60px;
        top: 170px;
        font-size: 10px;
        line-height: 30px;
    }
    .up{
        left: 50px;
        top: 500px;
        width: 30px;
        height: 30px;
    }
    .phrase,.phrase_1{
        left: 120px;
        font-size: 16px;
    }
    .portfolio,.tasktreker,.panther{
        left: 70px;
    }
    .my_works__portfolio__title,.my_works__tasktreker__title,.my_works__panther__title{
        font-size: 14px;
        left: 70px;
        top: 60px;
    }
    .my_works__tasktreker__title{
        top: 236px;
    }
    .my_works__panther__title{
        top: 412px;
    }
    .my_works__portfolio__skills__figma{
        left: 330px;
        top: 95px;
    }
    .my_works__portfolio__skills__html{
        left: 330px;
    }
    .my_works__portfolio__skills__css{
        left: 330px;
        top: 185px;
    }
    .my_works__tasktreker__skills__figma{
        left: 330px;
        top: 271px;
    }
    .my_works__tasktreker__skills__psh{
        left: 330px;
        top: 316px;
    }
    .my_works__panther__skills__figma{
        left: 330px;
        top: 447px;
    }
    .my_works__panther__skills__html{
        left: 330px;
        top: 492px;
    }
    .my_works__panther__skills__css{
        left: 330px;
        top: 537px;
    }
    .contacts__title{
        font-size: 24px;
        left: 120px;
    }
    .contacts__telephone{
        left: 150px;
        top: 1600px;
        font-size: 22px;
    }
    .phone{
        left: 315px;
        top: 1595px;
    }
    .contacts__mail{
        left: 150px;
        top: 1650px;
        font-size: 22px;
    }
    .mail{
        left: 360px;
        top: 1640px;
    }
    .contacts__tg,.contacts__vk{
        width: 190px;
        height: 47px;
        left: 150px;
        font-size: 22px;
        line-height: 45px;
    }
    .contacts__vk{
        top: 1755px;
    }
    .tg{
        width: 40px;
        height: 40px;
        left: 290px;
        top: 1699px;
    }
    .vk{
        width: 34px;
        height: 34px;
        left: 293px;
        top: 1762px;
    }
    .name{
        font-size: 16px;
        left: 400px;
        top: 1795px;
    }
    .line{
        width: 500px;
        top: 1820px;
    }
    .copyright{
        left: 60px;
        top: 1825px;
        font-size: 12px;
    }
}